MONGO_URL=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority
DB_NAME=gold_signals
TELEGRAM_BOT_TOKEN=<your_telegram_bot_token>
TELEGRAM_GOLD_CHANNEL_ID=@grandcomgold
TWELVE_DATA_API_KEY=<your_twelvedata_api_key>
OPENAI_API_KEY=<your_openai_api_key>
